@tailwind utilities;

@layer utilities {
  .text-field {
    width: 100%;
  }

  .text-field .MuiOutlinedInput-root {
    input {
      color: theme("colors.rosa2")!important;

      &::placeholder {
        color: theme("colors.preto");
      }
    }

    fieldset {
      border: 1px solid var(--Border-default, theme("colors.neutral.500")) !important;
    }
  }

  .text-field .MuiOutlinedInput-root:hover fieldset {
    border-color: theme("colors.rosa2") !important;
  }

  .text-field .MuiOutlinedInput-root:focus-within fieldset {
    border-color: theme("colors.rosa2");
  }

  .text-field .MuiOutlinedInput-root.Mui-disabled fieldset {
    border-color: theme("colors.neutral.600");
  }

  .text-field .MuiOutlinedInput-root.Mui-error fieldset {
    border-color: theme("colors.red.600");
  }

  .text-field .MuiOutlinedInput-root.Mui-error:focus-within fieldset,
  .text-field .MuiOutlinedInput-root.Mui-error:hover fieldset {
    border-color: theme("colors.red.600");
  }
}